www.rauhala.dev {
    encode zstd gzip
    redir https://rauhala.dev
}

rauhala.dev {
    encode zstd gzip
    root * /srv/rauhala

    reverse_proxy rauhala:3000
}

mirorauhala.fi, www.mirorauhala.fi {
    encode zstd gzip
    redir https://rauhala.dev
}